.image-size {
    width: 100px;
    height: 100px;
}

#background-color {
    background-color: #1a0000;
}

.text_center{
    text-align: center;
    max-width: 100%;
}

.text-white{
    color: white;
}

/*////////////////////////////////////Map styles///////////////////////////////////////*/

#map {
    margin: 0px;
    padding: 10px;
    height: 500px;
    width: auto;
}

#maps-message {
    text-align: center;
    color: #ffffff;
}

/*////////////////////////////////////location and destination search area///////////////////////////////////////*/

#address-searchBar {
    position: relative;
    left: 0%;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 25px;
    background-color: #49433f;
    color: #ffffff;
    padding:5px;
}


#address-searchBar2 {
    position: relative;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    padding: 10px;
}
